<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.aynu.data.web.core.adminDAO.SchoolDAO">

    <sql id="tabelColumn">
        id,
        userName,
        account,
        password,
        email,
        phone,
        disabled,
        createTime
    </sql>

    <sql id="tabelName">
        sys_admin_m
    </sql>

    <select id="getSchoolList" parameterType="com.aynu.data.common.bean.GenericBean" resultType="com.aynu.data.common.bean.GenericBean">
        select <include refid="tabelColumn"/>
        from <include refid="tabelName"/>
        <where>
            <if test="userName != null and userName != ''">
                userName LIKE CONCAT(CONCAT('%',#{userName}),'%') or account LIKE CONCAT(CONCAT('%',#{userName}),'%')
            </if>
        </where>
    </select>

    <insert id="addSchool" parameterType="com.aynu.data.common.bean.GenericBean">
        insert into <include refid="tabelName"/>(userName,account,password,email,phone,disabled,createTime)
        values
        (#{userName},#{account},#{prePassword},#{email},#{phone},0,now())
    </insert>

    <update id="updateSchool" parameterType="com.aynu.data.common.bean.GenericBean">
        update <include refid="tabelName"/>
        <trim prefix="set" suffixOverrides=",">
            <if test="userName != null and userName != ''">
                userName = #{userName},
            </if>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="disabled !=null ">
                disabled = #{disabled},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSchool" parameterType="com.aynu.data.common.bean.GenericBean">
        delete from <include refid="tabelName"/>
        where id = #{id}
    </delete>

    <!--校验学校账号接口-->
    <select id="checkAccount" parameterType="com.aynu.data.common.bean.GenericBean" resultType="int">
        select count(*) from sys_admin_m
        where account = #{account}
    </select>

    <!--校验学校用户名接口-->
    <select id="checkUserName" parameterType="com.aynu.data.common.bean.GenericBean" resultType="int">
        select count(*) from sys_admin_m
        where userName = #{userName}
    </select>
</mapper>